<div th:fragment="modal">
    <!--&lt;!&ndash; Vertically centered scrollable modal &ndash;&gt;-->
    <!--<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">-->
    <!--    <form th:method="POST" th:action="@{/addNewUser}" th:object="${user}">-->
    <!--        <label for="firstName">Enter first name: </label>-->
    <!--        <input type="text" th:field="*{name}" id="firstName">-->
    <!--        <br/>-->
    <!--        <br>-->
    <!--        <label for="surname">Enter surname: </label>-->
    <!--        <input type="text" th:field="*{surname}" id="surname">-->
    <!--        <br/>-->
    <!--        <br/>-->
    <!--        <label for="password">Enter Password: </label>-->
    <!--        <input type="text" th:field="*{password}" id="password">-->
    <!--        <br/>-->
    <!--        <br>-->
    <!--        <label for="age">Enter Age: </label>-->
    <!--        <input type="text" th:field="*{age}" id="age">-->
    <!--        <br/>-->
    <!--        <br>-->
    <!--        <label for="email">Enter Email: </label>-->
    <!--        <input type="text" th:field="*{email}" id="email">-->
    <!--        <br/>-->
    <!--        <br>-->
    <!--        <select class="form-select" size="2" aria-label="size 2 select example" th:field="*{roles}">-->
    <!--            <option th:each="role: ${allRoles}" th:selected="${user.getAuthorities().contains(role)}"-->
    <!--                    th:value="${role.id}"-->
    <!--                    th:text="${role}">-->

    <!--            </option>-->
    <!--        </select>-->
    <!--        <input type="submit" value="add" class="mt-2">-->

    <!--    </form>-->
    <!--</div>-->

    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:method="POST" th:action="@{/addNewUser}" th:object="${user}">
                        <label for="firstName">Enter first name: </label>
                        <input type="text" th:field="*{name}" id="firstName">
                        <br/>
                        <br>
                        <label for="surname">Enter surname: </label>
                        <input type="text" th:field="*{surname}" id="surname">
                        <br/>
                        <br/>
                        <label for="password">Enter Password: </label>
                        <input type="text" th:field="*{password}" id="password">
                        <br/>
                        <br>
                        <label for="age">Enter Age: </label>
                        <input type="text" th:field="*{age}" id="age">
                        <br/>
                        <br>
                        <label for="email">Enter Email: </label>
                        <input type="text" th:field="*{email}" id="email">
                        <br/>
                        <br>
                        <select class="form-select" size="2" aria-label="size 2 select example" th:field="*{roles}">
                            <option th:each="role: ${allRoles}" th:selected="${user.getAuthorities().contains(role)}"
                                    th:value="${role.id}"
                                    th:text="${role}">

                            </option>
                        </select>
<!--                        <input type="submit" value="add" class="mt-2">-->

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
