<div th:fragment="modal">


    <div class="modal fade myForm" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:method="POST" th:action="@{/addNewUser}">
                        <label for="firstName">Enter first name: </label>
                        <input type="text"  id="firstName" th:name="name">
                        <br/>
                        <br>
                        <label for="surname">Enter surname: </label>
                        <input type="text"  id="surname" th:name="surname">
                        <br/>
                        <br/>
                        <label for="password">Enter Password: </label>
                        <input type="text"  id="password" th:name="password">
                        <br/>
                        <br>
                        <label for="age">Enter Age: </label>
                        <input type="text"  id="age" th:name="age">
                        <br/>
                        <br>
                        <label for="email">Enter Email: </label>
                        <input type="text"  id="email" th:name="email">
                        <br/>
                        <br>
                       <select class="form-control" id="roles" name="roles" multiple="multiple">
                                                <option th:each="role : ${allRoles}"
                                                        th:selected="${role.name}"
                                                        th:value="${role.id}"
                                                        th:text="${role.name}">Role name
                                                </option>
                                            </select>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
