<div th:fragment="nav-bar">

    <ul class="nav nav-tabs" role="tablist" id="myTab">

        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                    type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Home
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button id="create-user" class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    type="submit" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
            Add User
            </button>
        </li>

    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
             tabindex="0"></div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
             tabindex="0"></div>

    </div>
    <nav class="navbar bg-dark sub-title ">
        <div class="container-fluid ">
            <h6>All users</h6>
        </div>
    </nav>
</div>

<!--<input type="submit" value="add" onclick="window.location.href='addNewUser'">-->
